[{{ php_pool_name | default('nginx') }}]
user = {{ php_fpm_user | default('www-data') }}
group = {{ php_fpm_group | default('www-data') }}

listen = /run/php/php8.3-openemr.sock
listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = dynamic
pm.max_children = {{ php_fpm_max_children | default(5) }}
pm.start_servers = {{ php_fpm_start_servers | default(2) }}
pm.min_spare_servers = {{ php_fpm_min_spare_servers | default(1) }}
pm.max_spare_servers = {{ php_fpm_max_spare_servers | default(3) }}

; Optional: slowlog
; slowlog = /var/log/php/{{ php_pool_name | default('nginx') }}_slow.log
